@layer base-theme {
    :root {
        --form-component-border-radius: calc(var(--px) * 0);
        --form-component-border-width: calc(var(--px) * 1);
        --form-component-border-style: solid;

        --form-component-focus-outline: var(--focus-outline);
        --form-component-focus-outline-disabled: calc(var(--px) * 1)  dotted;


        --form-component-text-size: var(--common-text-size);
        --form-component-item-size: var(--form-component-text-size);
        --form-component-label-width: 40%;
        --form-component-content-width: calc(100% - var(--form-component-label-width));
        --form-component-label-padding: calc(var(--px) * 8);


        --form-component-shadow: var(--common-shadow);

        --form-background: inherit;
        --form-width: 100%;

        --form-component-background: transparent;
        --form-component-background-disabled: var(--common-background-disabled);
        --form-component-background-focused: var(--common-background-focused);
        --form-component-background-hovered: var(--common-background-hovered);
        --form-component-background-invalid: var(--common-background-invalid);
        --form-component-background-pressed: var(--common-background-pressed);
        --form-component-background-required: transparent;
        --form-component-background-selected: var(--common-background-selected);

        --form-component-border-color: var(--common-border-color);
        --form-component-border-color-disabled: var(--common-border-color-disabled);
        --form-component-border-color-focused: var(--common-border-color-focused);
        --form-component-border-color-hovered: var(--common-border-color-hovered);
        --form-component-border-color-invalid: var(--common-border-color-invalid);
        --form-component-border-color-pressed: var(--common-border-color-pressed);
        --form-component-border-color-required: var(--common-border-color-required);
        --form-component-border-color-selected: var(--common-border-color-selected);

        --form-component-color: var(--common-color);
        --form-component-color-disabled: var(--common-color-disabled);
        --form-component-color-focused: var(--common-color-focused);
        --form-component-color-hovered: var(--common-color-hovered);
        --form-component-color-invalid: var(--common-color-invalid);
        --form-component-color-pressed: var(--common-color-pressed);
        --form-component-color-required: var(--common-color-required);
        --form-component-color-selected: var(--common-color-selected);

        --form-component-fill: var(--common-fill);
        --form-component-fill-disabled: var(--common-fill-disabled);
        --form-component-fill-focused: var(--common-fill-focused);
        --form-component-fill-hovered: var(--common-fill-hovered);
        --form-component-fill-invalid: var(--common-fill-invalid);
        --form-component-fill-pressed: var(--common-fill-pressed);
        --form-component-fill-required: var(--common-fill-required);
        --form-component-fill-selected: var(--common-fill-selected);


        --form-component-text-color: var(--common-text-color);
        --form-component-text-color-disabled: var(--common-text-color-disabled);
        --form-component-text-color-focused: var(--common-text-color-focused);
        --form-component-text-color-hovered: var(--common-text-color-hovered);
        --form-component-text-color-invalid: var(--common-text-color);
        --form-component-text-color-pressed: var(--common-text-color-pressed);
        --form-component-text-color-required: var(--common-text-color-required);
        --form-component-text-color-selected: var(--common-text-color-selected);

        /* Individual Overrides */

        .checkbox-container {
            --form-component-fill-selected: var(--common-text-color);
        }

        .input {
            &[data-hovered], &[data-hover] {
                --form-component-background-focused: transparent
            }
        }

        .select-list {
            --form-component-background: var(--common-background);
            & .select-item {
                --form-component-color: var(--form-component-text-color);
                --form-component-background-focused: var(--common-5);
                --form-component-background-hovered: var(--common-5);
            }

        }

        .textarea {
            &[data-hovered], &[data-hover] {
                --form-component-background-focused: transparent
            }
        }
    }
}
