@layer base-component {
  :root {
    --list-type: disc;
  }
    ul {
      padding: 0;
      list-style: none;
      &.display {
        margin-inline-start: calc(var(--sp-px) * 40);
        list-style-type: var(--list-type);
        list-style-position: outside;
      }
    }
    ol {
      list-style: decimal;
    }
    ul,
    ol {
      margin: 0;
      display: flex;
      border-width: var(--component-border-width);
      border-color: var(--component-border-color);
      color: var(--component-text-color);

      &[data-orientation="horizontal"] {
        flex-direction: row;
        column-gap: calc(var(--sp-px) * 16);
        row-gap: calc(var(--sp-px) * 8);
        width: 100%;
      }

      &[data-orientation="vertical"] {
        flex-direction: column;
        gap: calc(var(--sp-px) * 4);
      }
    }
  }

