
@import url("../theme-system/index.css");
@import url("../ui/components/components.css");

@layer default-theme {
    body header, body footer  body main{
        margin-bottom: calc(var(--sp-px) * 16);
    }

    abbr {
        text-decoration: none;
        cursor: help;
    }
}