@layer default-theme {
    :root {
        --inflection-1: var(--mauve-1);
        --inflection-2: var(--mauve-2);
        --inflection-3: var(--mauve-3);
        --inflection-4: var(--mauve-4);
        --inflection-5: var(--mauve-5);
        --inflection-6: var(--mauve-6);
        --inflection-7: var(--mauve-7);

        --inflection-raw-1: var(--raw-mauve-1);
        --inflection-raw-2: var(--raw-mauve-2);
        --inflection-raw-3: var(--raw-mauve-3);
        --inflection-raw-4: var(--raw-mauve-4);
        --inflection-raw-5: var(--raw-mauve-5);
        --inflection-raw-6: var(--raw-mauve-6);
        --inflection-raw-7: var(--raw-mauve-7);

    }
}
