@layer base-theme {
    :root {
        --common-1: var(--gray-1);
        --common-2: var(--gray-2);
        --common-3: var(--gray-3);
        --common-4: var(--gray-4);
        --common-5: var(--gray-5);
        --common-6: var(--gray-6);
        --common-7: var(--gray-7);
        --common-8: var(--gray-8);
        --common-9: var(--gray-9);
        --common-10: var(--gray-10);
        --common-11: var(--gray-11);
        --common-12: var(--gray-12);

        --common-shadow: var(--gray-shadow);
        --common-overlay: var(--gray-overlay);

        --common-background: var(--common-1);
        --common-background-disabled: var(--common-2);
        --common-background-focused: var(--common-1);
        --common-background-hovered: var(--common-2);
        --common-background-invalid: var(--common-1);
        --common-background-pressed: var(--common-2);
        --common-background-required: var(--common-background);
        --common-background-selected: var(--common-3);

        --common-border-color: var(--common-7);
        --common-border-color-disabled: var(--common-5);
        --common-border-color-focused: var(--common-10);
        --common-border-color-hovered: var(--common-11);
        --common-border-color-invalid: var(--red-5);
        --common-border-color-pressed: var(--common-9);
        --common-border-color-required: var(--common-border-color);
        --common-border-color-selected: var(--common-11);
        --common-border-color-selected-disabled: var(--common-7);

        --common-color: var(--common-9);
        --common-color-disabled: var(--common-7);
        --common-color-focused: var(--common-color);
        --common-color-hovered: var(--common-11);
        --common-color-invalid: var(--red-5);
        --common-color-pressed: var(--common-11);
        --common-color-required: var(--common-color);
        --common-color-selected: var(--common-11);

        --common-fill: var(--common-9);
        --common-fill-disabled: var(--common-8);
        --common-fill-focused: var(--common-color);
        --common-fill-hovered: var(--common-11);
        --common-fill-invalid: var(--red-5);
        --common-fill-pressed: var(--common-11);
        --common-fill-required: var(--common-fill);
        --common-fill-selected: var(--common-11);

        --common-heading-color: var(--common-11);

        --common-text-color: var(--common-11);
        --common-text-color-disabled: var(--common-8);
        --common-text-color-focused: var(--common-11);
        --common-text-color-hovered: var(--common-9);
        --common-text-color-invalid: var(--red-7);
        --common-text-color-pressed: var(--common-10);
        --common-text-color-required: var(--common-text-color);
        --common-text-color-selected: var(--common-10);

    }
}
