@layer system {
  :root {
    --sizing-base: 1rem;
    --sp-px: calc(var(--sizing-base) * 0.0625);
    --shadow-opacity: 0.3;
    --overlay-opacity: 0.2;

    .srOnly {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);  /* 1 */
      clip-path: inset(50%); /* 2 */
      height: 1px;
      margin: -1px;
      overflow: hidden !important;
      padding: 0;
      position: absolute !important;
      width: 1px;
      white-space: nowrap !important; /* 3 */
    }
  }
}
