@layer system-component {
  div.vertical {
    position: relative;
  }
  nav.vertical-navigation, nav.mobile-navigation {
    min-width: calc(var(--sp-px) * 320);
    width: 30%;
    z-index: 3;
    /* Layout */
    & > ul {
      & > li {
        & > button,
        & > a[href] {
          justify-content: flex-start;
        }

        /*sub navigation (not top row)*/

        & > ul {
          & li {
            width: 100%;
          }

          & > li {
            & button,
            & a[href] {
              flex-wrap: nowrap;
              justify-content: flex-start;
            }
          }
        }
      }
    }

    /* Appearance */
    /* nav */
    background-color: var(--component-background);
    border-color: var(--purple-7);
    border-style: solid;
    border-width: calc(var(--sp-px) * 1);
    box-shadow: calc(var(--sp-px) * 7) calc(var(--sp-px) * 7)
      calc(var(--sp-px) * 7) oklch(var(--raw-purple-4) / 0.4);
    padding: calc(var(--sp-px) * 8) calc(var(--sp-px) * 16);
    padding-left: calc(var(--sp-px) * 20);

    & li {
      border-color: transparent;
    }

    & button,
    & a[href] {
      background-color: transparent;
      border-color: transparent;
      border-bottom-color: var(--purple-3);
      border-radius: 0;
      border-style: solid;
      border-width: calc(var(--sp-px) * 1);
      border-left-width: calc(var(--sp-px) * 2);
      display: flex;
      font-weight: 400;
      padding: calc(var(--sp-px) * 4);
      text-decoration: none;

      white-space: nowrap;
      width: 100%;
      &:focus-visible {
        outline: none;
      }
      &:hover,
      &:focus {
        border-left-color: var(--purple-7);
      }
    }

    & a[href][aria-current="page"] {
      &:before {
        color: var(--purple-8);
        content: "\25C9";
        position: absolute;
        left: calc(var(--sp-px) * 4);
      }
    }

    & > ul > li {
      &:last-child {
        & > button,
        & > a[href] {
          border-bottom-color: transparent;
        }
      }

      & ul > li {
        & button,
        & a[href] {
          padding-left: calc(var(--sp-px) * 16);
        }

        & > ul > li {
          & button,
          & a[href] {
            padding-left: calc(var(--sp-px) * (16 * 2));
          }
        }
      }
    }
  }
}
