@layer main {
    /* Layouts */
    #home-page {
        display: flex;
        flex-direction: column;
        padding: 0 calc(var(--sp-px) * 16);
        & h2 {
            color: var(--purple-10);
        }
        & .intro {
            & p {
                line-height: calc(var(--sp-px) * 28);
                color: var(--purple-12);
            }
        }

        & .example-section {
            padding-left: calc(var(--sp-px) * (16 * 2));
            padding-bottom: calc(var(--sp-px) * (16 * 2));
        }

        & .latest-release,
        & .prev-releases {
            display: flex;
            flex-direction: column;

            & li {
                clear: both;
            }
            & dl {
                --dt-width: calc(var(--sp-px) * (16 * 8));
                float: left;
                width: 100%;
            }
            & dt {
                clear: left;
                color: var(--purple-9);
                display: inline-block;
                float: left;
                font-weight: bold;
                padding-right: calc(var(--sp-px) * (12));
                padding-top: calc(var(--sp-px) * (4));
                text-align: right;
                width: var(--dt-width);
                &:after {
                    content: ":";
                }
            }
            & dd {
                display: inline-block;
                float: left;
                position: relative;
                top: calc(var(--sp-px) * 3);

                &:has(span) {
                    text-align: left;
                }
                &:has(span:not(:first-child)) {
                    clear: left;
                }
            }
        }

        & .prev-releases {
            & ol li {
                padding-left: calc(var(--sp-px) * (16 * 1));

                &::marker {
                    font-weight: bold;
                }
            }
            & dt {
                padding-right: calc(var(--sp-px) * 4);
            }

            & dd {
                top: calc(var(--sp-px) * 3);
                padding-bottom: calc(var(--sp-px) * 4);
                & a[href] {
                    padding-left: calc(var(--sp-px) * 8);
                    position: relative;
                    top: calc(var(--sp-px) * 1);
                }
                & + dd {
                    clear: left;
                    padding-left: calc(var(--dt-width));
                }
                & span {
                    display: inline-block;
                    font-weight: bold;
                    vertical-align: middle;
                    width: calc(var(--sp-px) * (16 * 7));
                    text-align: right;
                    &:after {
                        content: ":";
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
