@layer system-component {
  nav.horizontal-navigation {
    /* Layout */
    --min-list-width: var(--sp-px);
    padding: calc(var(--sp-px) * 16) 0;

    /* Appearance */

    & > ul {
      /* Generic - all*/
      & li {

        position: relative;
        white-space: nowrap;

        & button,
        & a[href] {
            background-color: transparent;
          border-color: transparent;
          border-radius: 0;
          border-style: solid;
          border-width: calc(var(--sp-px) * 1);
          border-left-width: calc(var(--sp-px) * 3);
            border-right-width: calc(var(--sp-px) * 3);
          color: var(--component-text-color);
          text-align: left;
          width: 100%;
        }
      }
      /* Top row*/
      & > li {
          & > a[href] {
              min-width: calc(var(--sp-px) * 60);
          }
        & > button,
        & > a[href] {
            border-bottom-width: calc(var(--sp-px) * 3);
          font-weight: 500;
          padding: calc(var(--sp-px) * 8) 0;
          padding-right: calc(var(--sp-px) * 24);
          text-decoration: none;

          & svg {
            background-color: transparent;
          }

            &:focus-visible {
                outline: none;
            }

          &:focus,
          &:hover {
            border-bottom-color: var(--purple-3);
          }
        }
      }
      /* sub navigation (not top row) */

      & > li > ul {
          --component-border-radius: calc(var(--sp-px) * 10);
        background-color: var(--theme-background);
        border-color: var(--component-border-color);
        border-style: solid;
        border-width: calc(var(--sp-px) * 1);
          border-radius: var(--component-border-radius);
          box-shadow: calc(var(--sp-px) * 7) calc(var(--sp-px) * 3) calc(var(--sp-px) * 5) oklch(var(--raw-purple-5) / .4);
        gap: unset;
        padding: 0;
        & button,
        & a[href] {
          font-weight: 400;
          padding: calc(var(--sp-px) * 8);
          padding-right: calc(var(--sp-px) * 16);
          text-decoration: none;
          &:focus-visible {
            outline: none;
          }

          &:focus,
          &:hover {
            background-color: var(--purple-1);
            border-left-color: var(--purple-6);
          }

          & li {
            width: 100%;
          }

          & > li {
            &:first-child {
              padding-top: calc(var(--sp-px) * 8);
            }

            &:last-child {
              padding-bottom: calc(var(--sp-px) * 8);
            }

            & button,
            & a[href] {
              padding: calc(var(--sp-px) * 8) calc(var(--sp-px) * 16) 0
                calc(var(--sp-px) * 8);
            }
          }

          & ul {
            padding: 0 calc(var(--sp-px) * 16) 0 0;

            & > li {
              padding-left: calc(var(--sp-px) * 16);
            }
          }
        }
        & li,
        & li button {
          border-bottom-color: var(--gray-3);
          border-bottom-style: solid;
          border-bottom-width: calc(var(--sp-px) * 1);
        }
        & > li {
          font-weight: normal;

          & [aria-current="page"] {
           border-right-color: var(--purple-5);
          }

          & li {
            padding-right: calc(var(--sp-px) * 16);

            & button,
            & a[href] {
              padding-left: calc(var(--sp-px) * 24);
            }
          }
        }
      }
    }

    /* Layout */
    /* Top Row nav > ul > li */

    & > ul {
      align-items: normal;
      justify-items: flex-start;
      column-gap: calc(var(--sp-px) * 24);

      & > li {
        display: flex;
        align-content: center;
        align-items: center;
        position: relative;

        /* sub navigation (not top row) */

        & > ul {
          min-width: calc(var(--sp-px) * 160);
          position: absolute;
          top: calc(var(--sp-px) * 46);
          width: fit-content;
          z-index: 3;

          & li {
            width: 100%;
          }

          & > li {
            & button,
            & a[href] {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-start;
            }
          }

          & ul {
            position: relative;
          }
        }
      }
    }
  }
}
